{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<style>
.header {
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  padding: 20px;
  width: 97%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 10px;
}

</style>

<div class="header" id="Header">
    <img src="{{url_for('static', filename='raddx.jpg')}}"  width="100%" height="100">
    {{nav.top.render(id='top-navbar')}}        
</div>
<div class="content">
    <h2>Result</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th width="15%">Filename</th>
                {% if show==True %}
                <th align="right" width="10%">Possibility</th>
                {% endif%}
                <th>Create Time</th>
            </tr>
        </thead>
        <tbody>
        {% for i, j, k in file_urls%}
            <tr>
                <td  width="15%">{{i.split('/')[1]}}</td>
                {% if show==True %}
                    <td align="right" width="10%">
                    {% if k>50 %}<font color="red">{% endif%}
                        {{k}}%
                    {% if k>50 %}</font>{% endif%}
                    </td>
                {% endif%}
                <td>{{j}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<script>
window.onscroll = function() {Fix()};

var header = document.getElementById("Header");
var sticky = header.offsetTop;

function Fix() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>

{{ dataframe|safe }}
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
